/*GERAIS*/
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
*{

    color: white;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Pixelify Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body{
    background-color: rgb(0, 0, 0);
}

html{
    scroll-behavior: smooth;
    margin: 0px;
    padding: 0px;
}

.titulo{
    display: flex;
    justify-content: center;
    font-size: 25px;
    margin: 50px;
}


/*-------------HEADER-------------*/

.cabecalho{
    background-color: #141414;
}
.cabecalho div img{
border-radius: 360px;
width: 200px;
}


.content_header{
    margin: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #141414;
   
}

.content_header ul{
    list-style: none;
    display: flex;

}

.content_header li{
    margin: 20px;
}
.content_header a:hover{
    color: #03f86d;
}
.content_header a{
    color: white;
    text-decoration: none;
    font-size: 25px;
}


/*---------------------------------------------------*/
/*PAGINA SOBRE MIM INDEX*/



.sobremim{

    align-items: center;
    border-radius: 20px;
    background-color: #141414;
    
}
.div_content_master_text{
    display: flex;
    justify-content: center;

}



.texto_apresensentacao{
    background-color: #070707;
    padding: 30px;
    border-radius: 20px;



}
.texto_apresensentacao h1{
        color: #03f86d;
}

.texto_apresensentacao p{
        color: #03f86d;
}
.sobremim div{
    margin: 60px;
    
}
.sobremim img{
    width: 600px;
    border-radius: 20px;
}

.sobremim p{
    font-size: 25px;
    max-width: 600px;
    text-align: justify;
}

.sobremim h1{
    font-size: 40px;
}

.sobre_mim_imgs{
    display: flex;
    align-items: center;
    text-align: center;

}

.sobre_mim_imgs img{
    width: 165px;
}

#goto_projetos{
    color: #03f86d;
    
}

/*PAGINA SOBRE MIM COMPETENCIAS*/

.section_competencias{
    margin: 30px;


}
.competencias{
    border-radius: 20px;
    display: flex;
    justify-content: center;
    background-color: #141414;
    padding: 20px;
}
.competencias h1{
    align-items: center;
}
.competencias div{
    padding: 20px;
    padding-left: 70px;
    padding-right: 70px;
    border-radius: 20px;
    margin: 30px;
    margin-left: 50px;
    margin-right: 50px;
    align-items: center;
    text-align: center;
    background-color: #070707;
}

.competencias p{
    margin-top:10px ;
    font-size: 30px;
}
.competencias h1{
    text-align: center;
}

.competencias img{
    width: 300px;
}




/*-------------PROJETOS-----------*/
/*galeria de projetos*/

.galeria h1{
    margin-bottom: 20px;
    color: #03f86d;
}

.section_title_h1 div{
display: flex;
justify-content: center;
}
.section_title_h1{
    margin: 30px;
}
.projetos{
    border-radius: 20px;
    margin: 30px;
    padding: 30px;
    background-color: #141414;
}





.div_galeria_itens_master{
    border-radius: 20px;

    display: flex;
    justify-content: center;
    background-color: #070707;
}

.div_card{
    margin: 50px;
    background-color: #141414;
    padding: 30px;
    border-radius: 20px;
}
.div_card img{
    border-radius: 20px;
width: 600px;
}

.div_card h2{
    margin-top: 20px;
    align-items: center;
    text-align: center;
    font-size: 30px;
}




.container{
    margin-left: 200px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 800px;

    

}

.container h1{
    font-size: 30px;
    color: #03f86d;
}

.container h2{
    color: #03f86d;
    font-size: 25px;
}
.container p{
    font-size: 20px;
}

.container li{
    font-size: 20px;
}


.creditos li{
    color:rgb(161, 161, 255) ;
}

