@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
html{
    scroll-behavior: smooth;
}
*{

    color: white;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: #11120c ;
}

.cabecalho div img{
border-radius: 360px;
width: 200px;
}

.content{
    margin: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.content ul{
    list-style: none;
    display: flex;

}

.content li{
    margin: 20px;
}
.content a:hover{
    color: rgb(187, 187, 187);
}
.content a{
    color: white;
    text-decoration: none;
    font-size: 25px;
}


.banner img{
    max-width:100%;
}


.projetos{
padding: 20px;
display: flex;
justify-content: center;
}

.projeto{
align-items: center;
text-align: center;
margin: 20px;

}

.projeto img{
    width: 350px;
    border-radius: 20px;

}
.projeto p{
    font-size: 25px;
}


/* AREA DA PAGINA DE PROJETOS*/

.container{
    margin-left: 200px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 800px;

    

}

.container h1{
    font-size: 30px;
    color: #03f86d;
}

.container h2{
    color: #03f86d;
    font-size: 25px;
}
.container p{
    font-size: 20px;
}

.container li{
    font-size: 20px;
}


.creditos li{
    color:rgb(161, 161, 255) ;
}




.redes {
 display: flex;
 justify-content: center;
 align-items: center;
 text-align: center;
}

.redes div{
    flex-wrap: wrap;
    margin: 20px;
}



/* styles/style.css */

.redes img.img2 {
    display: none; /* A segunda imagem fica oculta por padrão */
}

.redes div:hover img.img1 {
    display: none; /* Esconde a primeira imagem ao passar o mouse */
}

.redes div:hover img.img2 {
    display: inline; /* Mostra a segunda imagem ao passar o mouse */
}

.redes p{
    font-size: 25px;
}

.redes div:hover p{
    transition: 100ms;
    color:#03f86d ;
}

.competencias{
    display: flex;
    justify-content: center;
}
.competencias h1{
    align-items: center;
}
.competencias div{
    margin: 20px;
    align-items: center;
    text-align: center;
}

.competencias p{
    font-size: 20px;
}

.sobremim{
    display: flex;
    justify-content: center;
    margin: 30px;
    align-items: center;
}

.sobremim div{
    margin: 20px;
}
.sobremim img{
    width: 500px;
}

.sobremim p{
    font-size: 20px;
    max-width: 500px;
    text-align: justify;
}

.sobremim h1{
    font-size: 30px;
}

.sobre_mim_imgs{
    display: flex;
    align-items: center;
    text-align: center;

}

.sobre_mim_imgs img{
    width: 165px;
}

.competencias h1{
    text-align: center;
}

#img{
    width: 650px;
}

#img2{
    width: 650px;
}

.titulo_no_centro{
    align-items: center;
    text-align: center;
}

#lista-produtos{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#lista-produtos img{
    width: 260px;
}

.desc_prod{
    display: flex;
    justify-content: center;
    align-items: center;

}

.desc_prod_container{
    max-width: 700px;
}
.desc_prod img{
width: 600px;
}
.desc_prod a{
background-color: #03f86d;
color: rgb(255, 255, 255);
padding: 5px;
border-radius: 3px;
}

.desc_prod div{
    margin: 30px;
}

.desc_prod p{
    margin-bottom: 20px;
}

.desc_prod_inf{
    margin:20px ;
    flex-wrap: wrap;
    font-size: 20px;
}


.buy_button{

    font-size: 30px;
}

.price_product{
    font-size: 25px;
    color: #03f86d;
}

.galery{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0px;
    padding: 0px;
}
.galery img{
    width: 300px;
    margin: 2px;
    
}

.galery img:hover{

cursor: pointer;
}

#produtosssss img{
    width: 120px;
    margin: 0px;
}

#produtosssss a{
font-size: 20px;
}

.galery a{
    background-color: #11120c;
}

.titulo{
    display: flex;
    justify-content: center;
}