/*GERAIS*/

@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');



*{
    margin: 0px;
    padding: 0px;
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: white;
    background-color: black;
    border-radius: 2px solid white;


}
img{
    padding: 0px;
    margin: 0px;
}
.section_title{
    display: flex;
    justify-content: center;
    font-size: 25px;
    margin: 20px;
}

/*CABECALHO*/

.cabecalho{
    text-align: center;
    align-items: center;
    background-color: #141414;
}



.div_lista_links_cabecalho{
    margin: 20px;
}
.div_lista_links_cabecalho ul{
    display: flex;
    justify-content: center;
    list-style: none    ;
    background-color: #141414;
    flex-wrap: wrap;
}
.div_lista_links_cabecalho li{
    margin: 10px;
    background-color: #141414;
}

.div_lista_links_cabecalho a{

    text-decoration:none ;
    font-size: 25px;
    background-color: #141414;
}

.div_lista_links_cabecalho li :hover{
    color: #03fa6e;

}


.div_img_cabecalho{
    background-color: #141414;
}




/*CORPO SOBRE MIM*/

.apresentacao{
    display: flex;
    justify-content: center;
}

.div_conteudo_sobre_mim_master{
    display: flex;
    justify-content: center;
    background-color: #141414;
    border-radius: 20px;
    padding: 60px;
    align-items: center;
    flex-wrap: wrap;

}

.sobre_mim_texto{
    margin: 20px;
    padding: 20px;
    max-width: 600px;
    border-radius: 20px;

}

.sobre_mim_imagem{
    margin: 20px;
    background-color: #141414;




}

.sobre_mim_imagem img{
    background-color: #141414;
    border-radius: 20px;


}


.sobre_mim_texto h1{
    font-size: 30px;
    color: #03fa6e;
}
.sobre_mim_texto p{
    font-size: 25px;
    text-align: justify;
    color: #03fa6e;
    

}
/*===========competencias============*/
.competencias{
    display: flex;
    justify-content: center;
}

.div_competencias_master{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    background-color: #141414;
    border-radius: 20px;
    flex-wrap: wrap;
}

.card{
    padding: 20px;
    padding-left:40px ;
    padding-right:40px ;
    margin: 10px;
    border-radius: 20px;
}

.card img{
    width: 250px;
}



/*----------PAGINA REDES-------------*/

#banner_yt{
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: #141414;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

}

#banner_yt img{
width: 70%;
}

#banner_yt img{
width: 70%;
}
.section_redes_sociais{
    margin: 30px;
    
    
}

.redes {
 display: flex;
 justify-content: center;
 align-items: center;
 text-align: center;
background-color: #141414;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
 
}

.redes div{
    flex-wrap: wrap;
    margin: 20px;
    background-color: #070707;
    padding: 20px;
    border-radius: 20px;

}

.redes div img{
    border-radius: 360px;
    margin-bottom: 20px;
}

.redes div a{
    text-decoration: none;
    background-color: #070707;
}


.redes img.img2 {
    display: none; /* A segunda imagem fica oculta por padrão */
}

.redes div:hover img.img1 {
    display: none; /* Esconde a primeira imagem ao passar o mouse */
}

.redes div:hover img.img2 {
    display: inline; /* Mostra a segunda imagem ao passar o mouse */
}

.redes p{
    font-size: 25px;
    background-color: #070707;
    
}

.redes div:hover p{
    transition: 100ms;
    color:#03f86d ;
}


/*PAGINA DE PORTFOLIO*/


.portfolio{
    background-color:#141414;
    margin: 60px;
    border-radius: 20px;
    padding: 20px;
}


.master_galeria {
    background-color: #070707;
    border-radius: 20px;
}
.master_modelagen{
    background-color: #070707;
    border-radius: 20px;
}

.master_projetos{
    background-color: #070707;
    border-radius: 20px;
}



/* TITULOS */
.title_galeria_de_jogos{
    padding: 40px 40px 10px 40px;
    border-radius: 20px;
    background-color: #070707;
}

.title_galeria_de_jogos h1{
    color: #03fa6e;
    font-size: 42px;
    margin: 0;
    font-weight: 700;
    background-color: #070707;
}

/* GRID DE PROJETOS */
.div_projetos_master{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 30px;
    border-radius: 15px;
    background-color: #070707;
}

@media (max-width: 900px){
    .div_projetos_master{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px){
    .div_projetos_master{
        grid-template-columns: repeat(1, 1fr);
    }
}

.card_projeto{
    width: 100%;
    background: #1a1a1a;
    border-radius: 20px;
    overflow: hidden;
    cursor: pointer;
    transition: 0.3s ease;
}


.card_projeto:hover{
    transform: translateY(-2px);
    box-shadow: 0 0 20px #03fa6e;
}

.card_projeto img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.card_projeto p{
    color: white;
    padding: 15px;
    font-size: 25px;
    text-align: center;
}

.button_ver_mais{
    display: flex;
    justify-content: flex-end;
    background-color: #070707;
    margin: 20px;
} 

.button_ver_mais button{
    background-color: #03fa6e;
    color: rgb(255, 255, 255);
    border-radius: 30px;
    border: none;
    padding: 10px 25px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    margin: 15px;

}

.button_ver_mais button:hover{
    background-color: #41ff93;
}








/*PAGINA DE PROJETOS*/
.pagina_projeto{
    margin: 60px;
    padding: 60px;
    color: white;
    background-color: #141414;
    border-radius: 20px;
}

.pagina_projeto h1{
    font-size: 50px;
    color: #03fa6e;
    margin-bottom: 40px;
        background-color: #141414;
}

.video_container{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    background-color: #141414;
}

.descricao_projeto{
    font-size: 20px;
    margin-bottom: 40px;

}
.descricao_projeto p{
            background-color: #141414;
}

.colaboradores_projeto h3{
    background-color: #141414; 
    font-size: 25px;
    color: #03f86d;
}
.colaboradores_projeto ul{
    list-style: none;
    padding: 0;
            background-color: #141414;
}

.colaboradores_projeto li{
    margin-bottom: 5px;
    background-color: #141414;
    font-size: 20px;
}






.links_projeto{
     background-color: #141414;
}

.links_projeto a{
    display: inline-flex; 
    align-items: center; 
    gap: 10px;           
    margin-top: 20px;
    padding: 10px 25px;
    background-color: #03fa6e;
    color: white;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    transition: 0.3s ease; 
}

.links_projeto img{
    width: 40px;
    border-radius: 360px;
    transition: 0.3s ease; 
}

/* 🔥 Hover */
.links_projeto a:hover{
    background-color: #070707; 
}

.links_projeto a:hover img{
    content: url(../img/icones/git_hub2.png);
}




